.main {
    margin-top: 100;
}

.logo {
    width: 300;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
 
.search-field {
    margin-top: 20;
    width: 400;
    display: block;
    margin-left: auto;
    margin-right: auto;
}